body {
  background-color: #ccc;
}
.g-logo {
  display: inline-block;
  height: 80px;
  line-height: 80px;
}
.g-logo img {
  vertical-align: middle;
}
.nav-inline li a {
  line-height: 70px;
}
.navbar-form {
  height: 80px;
  line-height: 80px;
}
.navbar-form >form {
  display: inline-block;
  vertical-align: middle;
}
.navbar-form input {
  vertical-align: middle;
}
.g-header-nav {
  border-bottom: 1px solid rgb(54, 53, 145);
}