
@media screen and (max-width: 992px){
  .art-box-foot {
    padding: 10px 15px;
  }
  .navbar-head {
    float: none;
  }
  .nav-navicon, 
  .nav.nav-navicon, 
  .navbar-body.nav-navicon {
    display: none;
  }
  .nav-toggle {
      display: block;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto 0 auto auto;
      width: 60px;
      height: 60px;
      z-index: 6;
      position: absolute;
      cursor: pointer;
      -webkit-transition-duration: 0.66s;
      transition-duration: 0.66s;
      -webkit-transition-timing-function: swing;
      transition-timing-function: swing;
  }
  
  .nav-toggle .icon {
      width: 30px;
      height: 4px;
      background-color: #00448b;
      border-radius: 2px;
      position: absolute;
      top: 26px;
      left: 15px;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      transiting-timing-function: swing;
      z-index: 5;
  }
  .nav-toggle .icon:before, .nav-toggle .icon:after {
      width: 30px;
      height: 4px;
      background-color: #00448b;
      border-radius: 2px;
      content: "";
      position: absolute;
      left: 0;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: swing;
      transition-timing-function: swing;
  }
  .nav-toggle .icon:before {
      top: -9px;
  }
  .nav-toggle .icon:after {
    top: 9px;
  }
  .nav-toggle.listopen .icon {
    width: 0;
  }
  .nav-toggle.listopen .icon:after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }
  .nav-toggle.listopen .icon:before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
  .nav-inline li a {
    line-height: 30px;
  }
  .navbar-form {
    height: auto;
    line-height: 50px;
  }
  .navbar-form >form {
    display: block;
  }
  .navbar-form >form >input.input-auto {
    width: 70%;
  }
  .navbar-form >form >input.button {
    width: 20%;
  }
  .g-logo {
    height: 50px;
    line-height: 50px;
  }
  .g-logo >img {
    height: 100%;
  }
  .g-header-nav >.container {
    padding: 0;
  }
  .navbar-form, .navbar-text {
    border: none;
  }
  .navbar-body {
    border: none;
    background: transparent;
  }
  .drop-menu {
    position: static;
    float: none;
    border: none;
    box-shadow: none;
  }
  .nav-menu .drop-menu {
    display: none!important;
  }
  .nav-menu >li.active .drop-menu{
    display: block!important;
  }
  .nav ul.item-drop-menu {
    display: none!important;
  }
  .nav ul.item-drop-menu {
    display: none!important;
  }
  .nav .drop-menu li.active >ul.item-drop-menu {
    display: block!important;
  }
  .nav-menu ul .arrow {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  
}